      {% liquid
        if shop.enabled_currencies.size > 1
          assign currencies = true
        endif
        if languages or currencies
          assign localization = true
        endif
      %}
          {% if localization %}
            <div class="">
              {%- form 'localization' -%}
                {%- if currencies -%}
                  <div class="popout--drawer">
                    <h2 class="visually-hidden" id="currency-drawer">
                      {{ 'layout.footer.currency' | t }}
                    </h2>
                    <div class="popout" data-popout>
                      <button type="button" class="popout__toggle" aria-expanded="false" aria-controls="currency-list-drawer" aria-describedby="currency-drawer" data-popout-toggle>
                        {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                      </button>
                      <ul id="currency-list-drawer" class="popout-list" data-popout-list>
                        {% for currency in form.available_currencies %}
                          <li class="popout-list__item {% if currency.iso_code == form.current_currency.iso_code %}popout-list__item--current{% endif %}">
                            <a class="popout-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-popout-option>
                              <span>{{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}</span>
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <input type="hidden" name="currency_code" id="CurrencySelectorDrawer" value="{{ form.current_currency.iso_code }}" data-popout-input/>
                    </div>
                  </div>
                {%- endif -%}
              {%- endform -%}
            </div>
          {% endif %}
