<!-- /sections/testimonials.liquid -->

{% assign button_text_color = section.settings.button_text_color | default: '#726D75' %}
{% assign button_bg_color = section.settings.button_bg_color %}
{% assign has_block_images = false %}
{% for block in section.blocks %}
  {% if block.settings.image != blank %}
    {% assign has_block_images = true %}
  {% endif %}
{% endfor %}

<div class="testimonials testimonials-with-image" data-section-id="{{ section.id }}" data-section-type="testimonials" style="background-color: {{section.settings.testimonials_bg}};">
    <div class="testimonials__slider testimonials__slider--{{ section.id }}" data-slick='{"slidesToShow": 1}'>
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% assign customer_name = block.settings.title %}
          {% assign testimonial = block.settings.testimonial %}
          {% assign bio_image = block.settings.bio_image %}
          {% assign username = block.settings.username %}
          {% assign tweet_url = block.settings.tweet_url %}

          {% assign button_text = block.settings.button_text %}
          {% assign button_link = block.settings.button_link %}

          {% assign block_img = block.settings.image %}
          {% assign product = all_products[block.settings.product] %}
          {% assign product_img = product.featured_media.preview_image %}

          {% assign img_object = product_img %}

          {% if block_img != blank %}
             {% assign img_object = block_img %}
          {% endif %}

          <div class="testimonial__slide testimonial__slide--{{ block.id }}" {{ block.shopify_attributes }}>
            <div class="testimonial {% if img_object == blank %}testimonial--no-image{% endif %}">
              {% unless img_object == blank %}
                <div class="testimonial__image">
                  <div class="testimonial__image-bg lazyload" data-bgset="{% render 'bgset', image: img_object %}"></div>
                  <noscript>
                    <div class="testimonial__image-bg no-js-image" style="background-image: url( {{ img_object | img_url: '1024x' }} )" data-bgset="{% render 'bgset', image: img_object %}"></div>{{ img_object | img_url: '2048x' }}
                  </noscript>

                  {% if button_text == blank and product != blank %}
                    <a href="{{ product.url }}" class="testimonial__button" style="color: {{ button_text_color }}; background: {{ button_bg_color }};">{{ product.title }}</a>
                  {% elsif button_text != blank %}
                    <a href="{{ button_link }}" class="testimonial__button" style="color: {{ button_text_color }}; background: {{ button_bg_color }};">{{ button_text }}</a>
                  {% endif %}
                </div>
              {% endunless %}

              <div class="testimonial__content">
                {% if testimonial != blank %}
                  <blockquote>
                    <span class="tesimonial__quotes oi" data-glyph="double-quote-sans-left"></span>
                    <p>{{ testimonial }}</p>
                  </blockquote>
                {% endif %}

                {% if customer_name != blank or tweet_url != blank or bio_image != blank %}
                  <div class="testimonial__author {% if bio_image == blank %}testimonial__author--no-bio-image{% endif %}">
                    {% if bio_image != blank %}
                      <div class="testimonial__author-bio-image lazyload" data-bgset="{% render 'bgset', image: bio_image %}"></div>
                      <noscript>
                        <div class="testimonial__author-bio-image no-js-image" style="background-image: url( {{ bio_image | img_url: '1024x' }} )" data-bgset="{% render 'bgset', image: bio_image %}"></div>{{ bio_image | img_url: '2048x' }}
                      </noscript>
                    {% endif %}
                    {% if customer_name != blank %}
                      <strong>{{ customer_name }}</strong>
                    {% endif %}
                    {% if username != blank %}
                      <span class="username">{{ username }}</span>
                    {% endif %}
                  </div>
                {% endif %}

                {% if tweet_url != blank %}
                  <div class="testimonial__tweet-url">
                    <a href="{{ tweet_url }}" rel="noopener" target="_blank">{{ 'home_page.sections.testimonials_twitter_link' | t }}</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
</div>
<style>
    /*! CSS Used from: https://cdn.shopify.com/s/files/1/0308/6709/5685/t/11/assets/theme.scss.css?v=52682357876516566731664368873 ; media=all */
@media all{
.slick-slide img{display:block;}
.oi[data-glyph]:before{position:relative;top:1px;font-family:Icons;display:inline-block;speak:none;line-height:1;vertical-align:baseline;font-weight:400;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.oi[data-glyph]:empty:before{width:1em;text-align:center;box-sizing:content-box;}
.oi[data-glyph=double-quote-sans-left]:before{content:"\e054";}
div,span,p,blockquote,img{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
blockquote{quotes:none;}
blockquote:before,blockquote:after{content:"";content:none;}
p{margin:0 0 1em;}
strong{font-weight:700;}
html:not(.no-js) body:not(.focus-enabled) *:focus{outline:none;}
*{-moz-box-sizing:border-box;box-sizing:border-box;}
html body *{-webkit-font-smoothing:antialiased;}
p{font-size:1rem;font-weight:400;line-height:1.5;margin:0 0 .5em;}
strong{font-weight:700;}

blockquote{padding-left:1.5em;border-left:5px solid #418383;margin:0 0 1.5em 1.25em;}
@media print{
p{orphans:3;widows:3;}
}
.testimonial{display:flex;align-items:center;min-height:50vw;}
@media only screen and (min-width: 1400px){
.testimonial{min-height:725px;}
}
@media only screen and (max-width: 749px){
.testimonial{flex-direction:column-reverse;}
}
.tesimonial__quotes{display:block;font-size:40px;margin-bottom:40px;}
@media only screen and (max-width: 749px){
.tesimonial__quotes{font-size:32px;margin-bottom:30px;}
}
.testimonial__image{align-self:stretch;position:relative;margin-right:75px;width:50%;}
@media only screen and (max-width: 749px){
.testimonial__image{width:100%;height:50vh;}
}
.testimonial__image-bg{position:absolute;top:0;left:0;right:0;bottom:0;background-position:center center;background-repeat:no-repeat;background-size:cover;}
.testimonial__button{position:absolute;left:0;bottom:0;width:100%;display:flex;align-items:center;justify-content:center;height:69px;font-size:11px;line-height:normal;text-transform:uppercase;letter-spacing:2px;}
@media only screen and (max-width: 749px){
.testimonial__button{height:60px;}
}
.testimonial__content{max-width:540px;text-align:left;padding:104px 15px;}
@media only screen and (max-width: 749px){
.testimonial__content{text-align:center;}
}
.testimonial__content blockquote{border:0;padding:0;margin:0 0 71px;font-size:22px;line-height:1.73;}
@media only screen and (max-width: 1399px){
.testimonial__content blockquote{margin-bottom:40px;}
}
@media only screen and (max-width: 749px){
.testimonial__content blockquote{margin-bottom:30px;font-size:20px;}
}
.testimonial__content blockquote p{font-size:inherit;line-height:inherit;}
@media only screen and (max-width: 1399px){
.testimonial__content{padding:60px 15px;}
}
@media only screen and (max-width: 749px){
.testimonial__content{width:100%;padding:40px 15px;}
}
.testimonial__author{position:relative;padding-left:87px;margin-bottom:78px;}
@media only screen and (max-width: 1399px){
.testimonial__author{margin-bottom:50px;}
}
@media only screen and (max-width: 749px){
.testimonial__author{margin-bottom:40px;padding-left:0;}
}
.testimonial__author strong{display:block;font-size:18px;font-weight:700;padding-bottom:2px;}
.testimonial__author span{display:block;font-size:11px;text-transform:uppercase;letter-spacing:2px;}
.testimonial__author--no-bio-image{padding-left:0;}
}
/*! CSS Used fontfaces */
@font-face{font-family:Icons;src:url(https://cdn.shopify.com/s/files/1/0308/6709/5685/t/11/assets/open-iconic.eot);src:url(https://cdn.shopify.com/s/files/1/0308/6709/5685/t/11/assets/open-iconic.eot#iconic-sm) format("embedded-opentype"),url(https://cdn.shopify.com/s/files/1/0308/6709/5685/t/11/assets/open-iconic.woff) format("woff"),url(https://cdn.shopify.com/s/files/1/0308/6709/5685/t/11/assets/open-iconic.ttf) format("truetype"),url(https://cdn.shopify.com/s/files/1/0308/6709/5685/t/11/assets/open-iconic.otf) format("opentype"),url(https://cdn.shopify.com/s/files/1/0308/6709/5685/t/11/assets/open-iconic.svg#iconic-sm) format("svg");font-weight:400;font-style:normal;}
</style>
{% schema %}
{
  "name": "Testimonials with image",
  "settings": [
    {
      "type": "color",
      "id": "testimonials_bg",
      "label": "Background color",
      "default": "#fafafa"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Text color",
      "default": "#726D75"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Background color",
      "default": "#E7E7E7"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "header",
          "content":"Testimonial"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Customer name",
          "default": "Example Customer"
        },
        {
          "type": "textarea",
          "id": "testimonial",
          "label": "Testimonial",
          "default": "Use this text to showcase a review from one of your customers.  A great review is honest and speaks to the concerns of your customers."
        },
        {
          "type": "image_picker",
          "id": "bio_image",
          "label": "Bio image"
        },
        {
          "type": "header",
          "content": "Twitter",
          "info": "Optional"
        },
        {
          "type": "text",
          "id": "username",
          "label": "Username",
          "default":"@username"
        },
        {
          "type": "text",
          "id": "tweet_url",
          "label": "Link to Tweet",
          "default": "https://twitter.com/"
        },
        {
          "type": "header",
          "content":"Reviewed Item",
          "info": "Optional"
        },
        {
         "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Override the default product image with an image from your customer."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "info": "Override the product name."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link",
          "info": "Override the product link with a collection or article link."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials with image",
      "category": "Text",
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
            "testimonial": "Use this text to showcase a review from one of your customers.  A great review is honest and speaks to the concerns of your customers.",
            "title":"Mark Corrigan",
            "tweet_url":"https://twitter.com/jack/status/20"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "testimonial": "Use this text to showcase a review from one of your customers.  A great review is honest and speaks to the concerns of your customers.",
            "title":"Jeremy Usborne",
            "tweet_url":"https://twitter.com/jack/status/20"
          }
        }
      ]
    }
  ]
}
{% endschema %}
